//
   Created by nikitak on 6.4.2017.
doctype html
html
    head
        title Testing
        link(rel="stylesheet" href="../styles/main.css")
        link(href="http://vjs.zencdn.net/5.19.1/video-js.css" rel="stylesheet")

        style(type="text/css").
            .webchimeras {
                float: left;
                width: 50%;
                height: 100%
            }
    body
        block content
    include scripts
