#main{
    padding: 50px 50px 50px 50px;
}
#drawerClosed{
    position:fixed;
    height:100%;
    width:48px;
    left:0px;
    top:0px;

}

#drawerContent{
    height:100%;
    max-width: calc(100% - 48px);
    top:0px;
    float:left;

}
#drawerOpen{
    height:100%;
    width:48px;
    float:right;
    top:0px;
}
#players{
    position:fixed;
    height:100%;
    width:calc(100% - 48px);
    right:0px;
    margin: 0px 0px 0px 0px;
}
::-webkit-scrollbar {
    background-color:#78909C;
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {

    -webkit-box-shadow: inset 0 0 10px rgba(38,50,56,0.7);
    background-color:rgb(173,20,87);
    background-image: -webkit-linear-gradient(90deg,
    transparent,
    rgba(216,27,96, 0.8) 50%,
    transparent,
    transparent)
}
.notification{
    font-size: 1em;
    padding: 10px 10px 10px 10px;
    color: #fff;
    background-color: #263238;
    box-shadow: 0 0 12px #263238;
    width:100%;
}
.notification-container{
    box-sizing: border-box;
    position: relative;
    width: 100%;
}
.notification-error {
    background-color: #880E4F;
}
.notification-error:before{
    content:none;
}